body {
    background:#eef1f5;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

#content {
    width:90%;
    margin:auto;
}

header {
    text-align:center;
    padding:20px;
}

header h1 {
    color:#2f4858;
    margin-bottom:5px;
}

header h2 {
    color:#4f6d7a;
}

header p {
    max-width:800px;
    margin:15px auto;
}

a {
    color:#2f4858;
}

main h2 {
    text-align:center;
    color:#2f4858;
}

.assignment {
    background:#dfe7f2;
    margin:10px;
    padding:15px;
}

.assignment a {
    text-decoration:none;
    color:#222222;
}

.assignment h3 {
    color:#2f4858;
    text-align:center;
}

.assignment img {
    width:100%;
    display:block;
    margin:auto;
}

.assignment p {
    line-height:1.4;
}

.project {
    background:#c8d6e5;
    margin:10px;
    padding:15px;
}

.project a {
    text-decoration:none;
    color:#222222;
}

.project h3 {
    color:#2f4858;
    text-align:center;
}

.project p {
    line-height:1.4;
}

/* Larger Screens */
@media only screen and (min-width:768px) {
    .columns {
        display:flex;
    }

    .assignment {
        flex:1;
    }

    .project {
        flex:1;
    }
}